#header_employees_add{
    color:white;
    font-weight: bold;
    margin-left:5em;
    font-size:20px;
    margin-top: 2%;
    margin-bottom:1%;
}

#header_employees_edit{
    color:white;
    font-weight: bold;
    margin-left:5em;
    font-size:20px;
    margin-top: 2%;
    margin-bottom:1%;
}